PUBLIC_SITE_URL=https://www.geovito.com
STRAPI_URL=http://127.0.0.1:1337
ALLOW_LOCALHOST_STRAPI=false
STRAPI_API_TOKEN=
PUBLIC_ANALYTICS_ENABLED=false
PUBLIC_ANALYTICS_PROVIDER=dataLayer
PUBLIC_ANALYTICS_DEBUG=false
PUBLIC_ADS_ENABLED=false
PUBLIC_ADS_SCRIPT_URL=
PUBLIC_TAG_MANAGER=none
PUBLIC_GTM_ID=
PUBLIC_GTM_LOAD_BEFORE_CONSENT=false
PUBLIC_GA4_MODE=gtm
PUBLIC_ZARAZ_ENABLED=
OPS_STRAPI_URL=http://127.0.0.1:1337
OPS_STRAPI_TOKEN=
PUBLIC_BUILD_SHA=
PUBLIC_BUILD_BRANCH=
PUBLIC_IS_CF_PAGES=false
PUBLIC_SENTRY_ENABLED=false
PUBLIC_SENTRY_DSN=
PUBLIC_SENTRY_ENV=production
PUBLIC_SENTRY_RELEASE=
PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0
